*.py[co]
__pycache__*
.cache

# Packages
*.egg
*.egg-info
dist
build
eggs
.eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
MANIFEST

# PyCharm
.idea/*
.idea/libraries/sass_stdlib.xml

# Distribution
dist/*

# Mac stuff
.DS_Store

docs/_build*

.test_config

.tox
.cache

!tests/__init__.py
!tests/config.py
!tests/test_cloudy.py
!tests/testconf.py
